body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
  margin: 50px;
  margin-top: 70px;
}

.pokemonList {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
}

main {
  margin-top: 60px;
  margin: 20px;
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  flex: 1;
}

.pokemon-button,
.btn {
  text-transform: capitalize;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 8px;
  border: 1px solid black;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 4px 4px black;
  cursor: pointer;
  background-color: black;
  border-radius: 0%;
}

.btn-primary:active,
.btn-primary:visited,
.btn-primary {
  border: 1px solid black;
  box-shadow: 4px 4px black;
}

.pokemon-button:hover {
  box-shadow: 1px 1px black;
}

.btn-primary:hover {
  box-shadow: 1px 1px black;
  background-color: black;
  border: 1px solid black;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: 4px 4px black;
  border: 1px solid black;
}

.form-control:focus {
  outline: none !important;
  box-shadow: 1px 1px black;
  border: 1px solid black;
}

.btn-secondary {
  width: auto;
  margin: 0;
  padding: 3px;
  border: 1px solid black;
  font-size: 12px;
  font-weight: 300;
  box-shadow: 4px 4px black;
  cursor: pointer;
  background-color: white;
  color: black;
}

.btn-secondary:hover {
  box-shadow: 1px 1px black;
  background-color: white;
  border: 1px solid black;
  color: black;
}

.modal-title {
  text-transform: capitalize;
  justify-content: center;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  box-shadow: 4px 4px black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -moz-column-count: 4;
  -moz-column-gap: 5px;
  -webkit-column-count: 4;
  -webkit-column-gap: 5px;
  column-count: 4;
  column-gap: 5px;
  border-top: 0 4;
}

.list-group-item {
  border: 0 none;
}

nav {
  font-size: xx-large;
  font-weight: bold;
  background-color: #00008b;
  color: white;
  border-bottom: 4px solid black;
  border-top: none;
}

.modal-header {
  border-color: black;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  ul {
    margin: 0;
    padding: 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .pokemon-button,
  .btn {
    font-size: x-small;
  }

  main {
    margin-top: 60px;
  }

  .btn-secondary {
    width: 50px;
    margin-left: 20px;
    margin-right: auto;
  }
}

.form-control {
  width: 260px !important;
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 4px 4px black;
  cursor: auto;
  background-color: white;
  color: black;
  border-radius: 0%;
}

.navbar-brand {
  font-size: 50px;
  -webkit-text-stroke: 1px white;
  filter: drop-shadow(2px 2px black);
  line-height: 1;
}
